@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--input-text-style-font-weight),400,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Degular-SemiBold";
  src: url("https://rockthebells.cdn.prismic.io/rockthebells/Z8sKqBsAHJWomPBD_Degular-Semibold.woff")
    format("woff");
}

@font-face {
  font-family: "Compacta Com-Regular";
  src: url("https://rockthebells.cdn.prismic.io/rockthebells/Z8sJxxsAHJWomPAN_compacta.woff")
    format("woff");
}

@font-face {
  font-family: "Compacta Com-Bold";
  src: url("https://rockthebells.cdn.prismic.io/rockthebells/Z8sJxxsAHJWomPAN_compacta.woff")
    format("woff");
}

@font-face {
  font-family: "Degular-Regular";
  src: url("https://rockthebells.cdn.prismic.io/rockthebells/Z8sKqBsAHJWomPBD_Degular-Semibold.woff")
    format("woff");
}
